.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ddd;
}

.camera {
    clear: both;
    float: left;
    margin-top: 10px;
    width: 50vw;
    height: 50vh;
    background-color: blue;
}

.camera .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 50vw;
    height: 50vh;
    max-width: 800px;
    max-height: 450px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: red;
}

.controls {
    clear: both;
    float: right;
    float: top;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}