<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualisation des Usagers</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ url_for('static', filename='js/usager.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/Main.css') }}">
    <style>
        /* Style pour cacher la div par défaut */
        #monForm {
            display: none;
        }
    </style>
</head>

<body>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="calendarContainer"></div>
        </div>
    </div>

    <div style="display: flex;">
        
        <div style="flex: 1; padding-right: 20px;">
            <button onclick="window.location.href='/statistiques'">Statistiques</button>
            <button id="showCalendar">Afficher le calendrier</button>
        
            <div id="camera">
                <div>
                    <label for="camera-select">Sélectionnez une caméra:</label>
                    <select id="camera-select">
                        <option value="C1_Thiers">Boulevard Thiers</option>
                        <option value="C2_Gray">Rue de Gray</option>
                        <option value="C3_AVIA">Station AVIA</option>
                        <option value="C4_Strasbourg">Boulevard de Strasbourg</option>
                        <option value="C5_Boulangerie">Boulangerie</option>
                        <option value="C6_Voltaire">Boulevard Voltaire</option>
                        <option value="C7_Carnot">Boulevard Carnot</option>
                    </select>
                </div>
                <div id="timer_totaleseconde" style="display: block;"></div>
                <div id="day_actual" style="display: none;"></div>
                <div id="day_hour" style="display: none;"></div>
                <div id="num_video" style="display: none;"></div>



                <div id="video-container" style="position: relative;">
                    <video id="video" controls style="width: 800px; height: 600px;"></video>
                    <canvas id="canvas"
                        style="width: 800px;height: 600px; position: absolute; top: 0; left: 0;  pointer-events: none;"></canvas>
                </div>
                <div id="timer">Heure de la viéo : 00:00:00</div>

                <div id="plan-container" style="position: relative;">
                    <img src="{{ url_for('static', filename='img/plan.png') }}" alt="Description of the image"
                        style="width: 800px; height: auto;">
                    <canvas id="canvas_plan"
                        style="width: 800px;height: 742.73px; position: absolute; top: 0; left: 0;  pointer-events: none;"></canvas>
                </div>
            </div>
        </div>
        <div style="flex: 1; padding-left: 20px;">
            <h2>Interactions</h2>
            <label for="interactionSelect">Sélectionner une interaction :</label>
            <select id="interactionSelect">
                <option value="">Toutes les interactions</option>
            </select>
            <label for="userTypeSelect">Sélectionner un utilisateur:</label>
            <select id="userTypeSelect">
                <option value="">Tous les utilisateurs</option>
            </select>
            <div id="filteredInteractions">
                <!-- Les interactions filtrées seront affichées ici -->
            </div>
            <button id="afficherForm" style="margin-top: 10px;">Afficher le formulaire</button>
            
<!-- Div contenant le formulaire -->
    <div id="monForm" style="display: none;">
        <form id="interactionForm">
            <div class="creat-details">
                <li class="time-code-debut-type">Time-Code Début: <input type="text" name="newstart_time" value=""></li>
                <li class="time-code-fin-type">Time-Code Fin: <input type="text" name="newend_time" value=""></li>
                <li class="interaction-type">Interaction: <input type="text" name="newinteraction" value=""></li>
                <li class="usager-1">Usager 1: </li>
                <div id="list3" class="dropdown-check-list" tabindex="100" style="overflow-y: scroll; max-height: 200px;">
                    <input type="text" class="anchor3" placeholder="Usagers">
                    <ul id="items" class="items">
                        <!-- Les éléments de la liste seront ajoutés ici par JavaScript -->
                    </ul>
                </div>
                <li class="commentaire-type">Commentaire: <input type="text" name="newcommentaire" value=""></li>
                <li class="statut-type">Validé: <input type="checkbox" name="newvalide" value="false"></li>
                <button type="button" class="creer-btn">Créer</button>
            </div>
        </form>
    </div>
 
        </div>
        
    </div>

   
</body>

</html>