<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistiques</title>
    <link rel="stylesheet" href="../static/css/statistiques.css">
</head>
<body>
    <h1>Statistiques</h1>
    <div id="barChartContainer">
        <canvas id="barChart"></canvas>
    </div>
    <div id="pieChartContainer">
        <canvas id="pieChart"></canvas>
    </div>
     <!-- Canvas pour afficher le graphique -->
    <canvas id="lineChart" width="800" height="400"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/js/statistiques.js"></script>
</body>
</html>
