<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistiques d'Interaction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        h1 {
            margin: 20px 0;
            text-align: center;
            color: #343a40;
        }
        .chart-container {
            margin-bottom: 30px;
        }
        .chart-container img {
            border: 1px solid #dee2e6;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Statistiques d'Interaction</h1>
        <div class="row">
            <div class="col-md-6 chart-container">
                <img src="{{ url_for('static', filename='user_interactions.png') }}" class="img-fluid" alt="Nombre d'interactions par utilisateur">
            </div>
            <div class="col-md-6 chart-container">
                <img src="{{ url_for('static', filename='interaction_types.png') }}" class="img-fluid" alt="Nombre d'interactions par type">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 chart-container">
                <img src="{{ url_for('static', filename='average_duration_by_interaction.png') }}" class="img-fluid" alt="Durée moyenne des interactions par type">
            </div>
            <div class="col-md-6 chart-container">
                <img src="{{ url_for('static', filename='interactions_by_zone.png') }}" class="img-fluid" alt="Nombre d'interactions par zone">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 chart-container">
                <img src="{{ url_for('static', filename='duration_histogram.png') }}" class="img-fluid" alt="Distribution de la durée des interactions">
            </div>
        </div>
    </div>
</body>
</html>
